<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Goibibo Functional Testing">
	<listeners>
		<listener class-name="com.qa.utility.Reporting"></listener>
	</listeners>
  <test thread-count="5" name="Functional Test">
  <parameter name="webdriver" value="Chrome"></parameter>
  <parameter name="url" value="https://www.goibibo.com/"></parameter>
    <classes>
      <class name="com.qa.testscript.TC_BusModule_001"></class>
      <class name="com.qa.testscript.TC_TrainsModule_001"></class>
      <class name ="com.qa.testscript.TC_HotelsBookingModule_001"></class>
 	  <class name="com.qa.testscript.TC_CabsModule_001"></class>  
 	  <class name="com.qa.testscript.TC_FlightsModule_001"></class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
